{% extends 'pudding/layout/generic.html' %}
{% load static %}

{% block generic__head %}
    <style>
        form h1 {
            text-align: center;
        }

        #registration {
            margin-top: var(--padding);
        }
    </style>
{% endblock %}

{% block generic__main %}
    <main class="center">
        <form method="POST" action="{% url 'login' %}">
            <h1>Sign in</h1>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="field">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="field">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <div class="field">
                <input class="full-width" type="submit" value="Submit">
            </div>
        </form>

        <div id="registration">
            New user? <a href="{% url 'registration' %}">Create an account</a>.
        </div>
    </main>
{% endblock %}