{% extends 'pudding/layout/layout.html' %}
{% load static %}
{% load jsonify %}

{% block layout__main %}
    <h1>List of Sites</h1>

    <div class="list__filter">
        <input id="filter" type="text" placeholder="Filter">
    </div>

    <div class="list__control">
        <a href="/site/create/"><img src="{% static 'pudding/img/add.svg' %}">Add item</a>
    </div>

    <div id="list__items">
    </div>

    <script src="{% static 'pudding/js/crypto-js.min.js' %}"></script>
    <script src="{% static 'pudding/js/modules/pudding.js' %}"></script>
    <script src="{% static 'pudding/js/modules/list.js' %}"></script>

    <script>
        var data = {{ data | json_dumps }}

        document.addEventListener('DOMContentLoaded', function(event) {
            app = new List(data, 'list__items', 'filter');
            app.render();
            app.events();
        });

    </script>
{% endblock %}