{% extends 'pudding/layout/generic.html' %}
{% load static %}

{% block generic__header %}
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a class="active" href="{% url 'homepage' %}">Sites</a></li>
                </ul>
            </nav>

            <div class="user">
                <div class="username">{{ request.user }}</div>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </header>
{% endblock%}

{% block generic__main %}
    <main>
        {% block layout__main %}{% endblock %}
    </main>
{% endblock %}

