<form method="post" action="{% url 'site-delete' hash=object.hash %}">
    {% csrf_token %}
    <p>Вы уверены?</p>
    <input type="submit" value="yes, delete">
</form> <br><br><br><br><br><br>

<form method="post" action="{% url 'site-detail' hash=object.hash %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>

<script>
    const uri = document.getElementById('id_uri');
    const host = document.getElementById('id_host');

    function get_host(event) {
        if (uri.validity.valid) {
            host.value = new URL(uri.value).host;
        } else {
            host.value = '';
        }
    };

    uri.addEventListener('change', get_host);
</script>