{% extends 'pudding/layout/layout.html' %}

{% block generic__main %}

<p>
    Hello, {{ username }}.
</p>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'logout' %}">Logout</a><br>
        <a href="{% url 'site-create' %}">Create</a>
    </p>


    <ul>
    {% for site in sites %}
        <li><a href="{% url 'site-update' id=site.card.id %}">{{site.card.id}}</a></li>
    {% endfor %}

    {% for num in count %}
        <li><a href="#">trash: {{ num }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <a href="{% url 'login' %}">login</a> <br>
    <a href="{% url 'registration' %}">registration</a>
{% endif %}

{% endblock %}